<body class="h-100" style="background-color:rgb(218, 235, 236)">
  <section class="h-100">
    <div class="container py-5 h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 p-3 mb-3" style="border-radius: 15px;">
          <div class="row g-0">
            <div class="row">
              <div class="col-12 mb-0">
                <div class="card-title p-2 hstack gap-3 d-inline-flex">
                  <div class="border border-dark-subtle border-3 rounded-pill d-inline-block px-4 py-2" style="background-color: gray;">
                    <h3 class="p-2 fw-bold mb-0 text-light">Cadastro de Funcionários: {{funcionarios.length}}</h3>
                  </div>
                </div>

                <hr class="my-4">
                <div class="row mb-8 d-flex justify-content-center align-items-center">
                  <table *ngIf="funcionarios" class="table table-hover" style="border-radius: 15px;">
                    <thead>
                      <tr>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Login </th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col"><button class="btn btn-primary btn-block btn-md align-item-end" type="button" (click)="abrirModal()">Cadastrar Funcionário</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let funcionario of funcionarios">
                        <td> {{funcionario.nome}} </td>
                        <td> {{funcionario.login}} </td>
                        <td> {{funcionario.perfil}} </td>
                        <td> {{funcionario.dtNascimento}} </td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-end" style="width: 300px">
                          <a href="#" title="Editar" alt="Editar" class="btn btn-xs btn-secondary" (click)="abrirModalEdicao(funcionario)">
                            <i class="fa fa-edit" aria-hidden="true"></i> Editar
                          </a>
                          <a href="#" title="Remover" alt="Remover" class="btn btn-xs btn-danger" (click)="remover($event, funcionario)">
                            <i class="fa fa-times" aria-hidden="true"></i> Remover
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p *ngIf="funcionarios.length==0">Nenhum Funcionário Cadastrado.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>