<body style="background-color: lightblue;">
  <section class="d-flex">
    <div class="container py-5 h-100 mb-2">
      <div class="card card-registration card-registration-2 p-3 mb-3" style="border-radius: 15px;">
        <div class="row g-0">
          <div class="row">
            <div class="col-12 mb-0">
              <div class="card-title p-2 vstack gap-3 d-inline-block">
                <div class="border border-info-subtle border-3 rounded-pill d-inline-block px-4 py-2" style="background-color: #63E1B4;">
                  <h3 class="p-2 fw-bold mb-0 text-light">Todos os Pedidos ({{pedidos.length}})</h3>
                </div>
              </div>
              <div class="form-label container-sm">
                <div class="mb-3">
                  <label for="filtroStatus" class="form-label">Filtro por Status</label>
                  <select class="form-select" id="filtroStatus" [(ngModel)]="filtroStatus">
                    <option value="">Todos</option>
                    <option value="EM ABERTO">Aberto</option>
                    <option value="AGUARDANDO PAGAMENTO">Aguardando Pagamento</option>
                    <option value="PAGO">Pago</option>
                    <option value="RECOLHIDO">Recolhido</option>                      
                    <option value="FINALIZADO">Finalizado</option>                     
                    <option value="REJEITADO">Rejeitado</option>
                    <option value="CANCELADO">Cancelado</option>
                  </select>                    
                  <button class="btn btn-outline-primary mt-3" (click)="aplicarFiltro()">Aplicar Filtro</button>
                </div>
              </div>
              <div class="overflow-x-auto">
                <table *ngIf="pedidos.length!==0" class="table table-hover" style="border-radius: 15px;">
                  <thead>
                    <tr>
                      <th>Pedido</th>
                      <th>Status</th>
                      <th style="white-space: nowrap;">Solicitado em</th>
                      <th style="white-space: nowrap;">Entrega até</th>
                      <th class="text-end">Valor</th>
                      <th class="text-center">Ação</th>
                    </tr>
                  
                  <tbody>
                    <tr *ngFor="let pedido of pedidosOrdenados; index as i;">
                      <th class="align-middle">#{{pedido.id}}</th>
                      <td *ngIf="pedido.status == 'EM ABERTO'" class="align-middle text-warning">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'CANCELADO'" class="align-middle text-danger">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'REJEITADO'" class="align-middle text-danger">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'RECOLHIDO'" class="align-middle text-secondary">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'" class="align-middle text-primary">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'PAGO'" class="align-middle" style="color: rgb(255, 119, 29);">{{pedido.status}}</td>
                      <td *ngIf="pedido.status == 'FINALIZADO'" class="align-middle text-success">{{pedido.status}}</td>
                      <td class="align-middle">{{pedido.dataPedido | date:'dd/MM/yyyy'}}</td>
                      <td class="align-middle">{{pedido.dtEntregaPrevista | date:'dd/MM/yyyy'}}</td>
                      <td class="text-end align-middle" style="white-space: nowrap;">{{pedido.valor | pipeReal}}</td>
                      <td class="align-middle text-center" *ngIf="pedido.status == 'EM ABERTO'"><a class="btn btn-outline-danger" (click)="abrirModal(pedido)" role="button">Cancelar Pedido</a></td>
                      <td class="align-middle text-center" *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'"><a class="btn btn-outline-success" (click)="abrirModal(pedido)" role="button">Pagar Pedido</a></td>
                      <td class="align-middle text-center" *ngIf="pedido.status !== 'AGUARDANDO PAGAMENTO' && pedido.status !== 'EM ABERTO' "><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="container-lg">
                  <p *ngIf="pedidos.length==0"> Sem pedidos </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>