<body style="background-color: lightblue;">
  <section class="d-flex">
    <div class="container py-5 h-100 mb-2">
      <div class="card card-registration card-registration-2 p-3 mb-3" style="border-radius: 15px;">
        <div class="row g-0">
          <div class="row">
            <div class="col-12 mb-0">
              <div class="card-title p-2 vstack gap-3 d-inline-block">
                <div class="border border-info-subtle border-3 rounded-pill d-inline-block px-4 py-2" style="background-color: #63E1B4;">
                  <h3 class="p-2 fw-bold mb-0 text-light">Consultar Pedido</h3>
                </div>
              </div>
              <div class="container-sm">
                <div class="mb-3">
                  <label class="form-label">Número do pedido:</label>
                  <input enter="true" type="text" class="form-control" id="npedido" name="npedido" [(ngModel)]="npedido" placeholder="Número do pedido" required numerico>
                  <button type="submit" class="btn btn-outline-primary mt-3" (click)="consultarPedido()">Consultar</button>
                </div>
              </div>
              <div class="container mt-8" *ngIf="pedido">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="card border-primary">
                      <div class="card-header bg-primary text-white text-center">
                        <h4>PEDIDO #{{pedido.id}}</h4>
                        <h5>Data da solicitação: {{pedido.dataPedido | date:'dd/MM/yyyy HH:mm'}}</h5>
                      </div>
                      <div class="card-body table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th class="text-start">Descrição</th>
                                <th class="text-end">Prazo</th>
                                <th class="text-end">Preço</th>
                                <th class="text-end">Qtde</th>
                                <th class="text-end">Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let roupa of pedido.roupas" class="text-start">
                                <td>{{roupa.descricao}}</td>
                                <td class="align-middle text-end">{{roupa.prazo}} dias</td>
                                <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.preco | pipeReal}}</td>
                                <td class="align-middle text-end">{{roupa.quantidade}}</td>
                                <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.quantidade * roupa.preco! | pipeReal}}</td>
                              </tr>
                              <tr>
                                <td colspan="4" class="text-end fw-bold">Total do pedido:</td>
                                <td class="text-end fw-bold">{{pedido.valor !== undefined ? (pedido.valor | pipeReal) : ''}}</td>
                              </tr>
                            </tbody>
                          </table>
                        <h4 *ngIf="pedido.status == 'EM ABERTO' || pedido.status == 'RECOLHIDO' || pedido.status == 'AGUARDANDO PAGAMENTO' || pedido.status == 'PAGO'"class="text-primary">Entrega prevista: {{pedido.dtEntregaPrevista | date:'dd/MM/yyyy'}}</h4>
                        <div class="row hstack gap-3">
                          <div class="col">
                            <h4 *ngIf="pedido.status == 'EM ABERTO'" class="align-middle text-warning">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'CANCELADO'" class="align-middle text-danger">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'REJEITADO'" class="align-middle text-danger">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'RECOLHIDO'" class="align-middle text-secondary">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'" class="align-middle text-primary">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'PAGO'" class="align-middle" style="color: rgb(255, 119, 29);">Status: {{pedido.status}}</h4>
                            <h4 *ngIf="pedido.status == 'FINALIZADO'" class="align-middle text-success">Status: {{pedido.status}}</h4>
                          </div>
                          <div class="col text-end">
                             <a *ngIf="pedido.status == 'EM ABERTO'" class="btn btn-lg btn-outline-danger" (click)="abrirModal(pedido)" role="button">Cancelar Pedido</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
  