<div class="bg-light">
  <div class="container text-center">
    <div class="grid gap-0 row-gap-2">
      <div class="col p-2 flex-grow-1 bd-highlight">
        <img src="../../../assets/logoTransparente.png" alt="Logo" class="rounded float-start" style="max-width:20%; height: auto">
        <h4 class="text-primary align-text-bottom">Sistema de Lavanderia On-Line</h4>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="card">
        <div class="card-header w-auto">
          <h4 class="text-center">Cadastro</h4>
        </div>
        <div class="card-body">
          <form #cadastroForm="ngForm">
            <div class="row g-3">

              <div class="col-lg-3 form-floating mb-3">
                <input #cpf="ngModel" [(ngModel)]="usuario.cpf" name="cpf" type="text" [showMaskTyped]="true" [shownMaskExpression]="'___.___.___-__'" mask="000.000.000-00" class="form-control"  placeholder="CPF" required>
                <label>CPF</label>
              </div>

              <div class="col-lg-9 form-floating mb-3">
                <input #nome="ngModel" [(ngModel)]="usuario.nome" name="nome" type="text" alfabetico class="form-control" placeholder="Nome" required>
                <label>Nome completo</label>
              </div>

            </div>

            <div class="row g-3">

              <div class="col-lg-6 form-floating mb-3">
                <input #email="ngModel" [(ngModel)]="usuario.email" name="email" type="text" email class="form-control" placeholder="E-mail" required (blur)="limparEmail()">
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors?.['invalidEmail']">
                    Informe um e-mail válido.
                  </div>
                </div>
                <label for="floatingInputGrid">E-mail</label>
              </div>
              <div class="col-lg-6 form-floating mb-3">
                <input #telefone="ngModel" [(ngModel)]="usuario.telefone" name="telefone" type="text" [showMaskTyped]="true" [specialCharacters]="['(', ')', '-', ' ']" [shownMaskExpression]="'(__) _____-____'" mask="(00) 00000-0000" class="form-control" placeholder="Telefone" required>
                <label for="floatingInputGrid">Telefone com DDD</label>
              </div>

            </div>

            <h6 class="card-text align-content-center">Endereço</h6>
            <div class="row g-3">
              
              <div class="col-lg-2 form-floating mb-3">
                <input #cep="ngModel" [(ngModel)]="endereco.cep" type="text"
                       name="cep" class="form-control" placeholder="CEP"
                       (change)="buscaEndereco(cep.value)" 
                       [showMaskTyped]="true" [shownMaskExpression]="'_____-___'" mask="00000-000" required>
                <label for="cep">CEP</label>
              </div>

              <div class="col-lg-6 form-floating mb-3">
                <input #logradouro="ngModel" [(ngModel)]="endereco.logradouro" 
                       name="logradouro" type="text" alfanumerico class="form-control" placeholder="Logradouro" required>
                <label for="logradouro">Logradouro</label>
              </div>

              <div class="col-lg-2 form-floating mb-3">
                <input #numero="ngModel" [(ngModel)]="endereco.numero" 
                       name="numero" type="text" numerico class="form-control" placeholder="Número" required>
                <label for="numero">Número</label>
              </div>

              <div class="col-lg-2 form-floating mb-3">
                <input #complemento="ngModel" [(ngModel)]="endereco.complemento" 
                       name="complemento" type="text" alfanumerico class="form-control" placeholder="Complemento" required>
                <label for="complemento">Complemento</label>
              </div>

            </div>

            <div class="row g-3">

              <div class="col-lg-6 form-floating mb-3">
                <input #bairro="ngModel" [(ngModel)]="endereco.bairro" 
                       name="bairro" type="text" alfanumerico class="form-control" placeholder="Bairro" required>
                <label for="bairro">Bairro</label>
              </div>

              <div class="col-lg-4 form-floating mb-3">
                <input #localidade="ngModel" [(ngModel)]="endereco.localidade" 
                       name="localidade" type="text" class="form-control" placeholder="Cidade" required disabled>
                <label for="localidade">Cidade</label>
              </div>

              <div class="col-lg-2 form-floating mb-3">
                <input #uf="ngModel" [(ngModel)]="endereco.uf" 
                       name="uf" type="text" class="form-control" placeholder="UF" required disabled>
                <label for="uf">Estado</label>
              </div>

            </div>
            <div class="w-auto mb-3 text-center ">
              <button (click)="cadastrar()" type="submit" class="btn btn-primary mx-2">Cadastrar</button>
              <a [routerLink]="['/login']" class="btn btn-secondary mx-2">Voltar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center mt-1">
      <p class="text-secondary" style="font-size: 14px;">Formula
        Clean &copy; 2023</p>
    </div>
  </div>
</div>