<div class="modal-header">
  <h4 class="modal-title" id="modalLabel"> Nova Roupa </h4>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar" (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body text-center">
  <div class="modal-container row p-2 d-flex justify-content-between align-items-center">
    <form #formRoupa="ngForm">
      <div class="gy-2 gx-2 my-4 align-items-center d-inline">
        <div class="form-group my-4">
          <label class="visually-hidden" for="descricao">Descrição</label>
          <input type=" text" class="form-control" id="descricao" name="descricao" [(ngModel)]="roupa.descricao" #descricao="ngModel" minlength="3" required placeholder="Nome">
          <div class="alert alert-danger mt-2" *ngIf="formRoupa.controls['descricao']?.hasError('required') && (formRoupa.controls['descricao']?.dirty || formRoupa.controls['descricao']?.touched)">
            A descrição é obrigatória.
          </div>
          <div class="alert alert-danger mt-2" *ngIf="formRoupa.controls['descricao']?.hasError('minlength') && (formRoupa.controls['descricao']?.dirty || formRoupa.controls['descricao']?.touched)">
            A descrição deve ter no mínimo 3 caracteres.
          </div>
        </div>
        <div class="form-group my-4">
          <label class="visually-hidden" for="preco">Preço</label>
          <div class="input-group">
            <div class="input-group-text">R$</div>
            <input type="number" class="form-control" id="preco" name="preco" [(ngModel)]="roupa.preco" #preco="ngModel" required min="1" placeholder="Preço (R$)">
            <div class="alert alert-danger mt-2" *ngIf="formRoupa.controls['preco']?.hasError('required') && (formRoupa.controls['preco']?.dirty || formRoupa.controls['preco']?.touched)">
              O preço é obrigatório.
            </div>
            <div class="alert alert-danger mt-2" *ngIf="formRoupa.controls['preco']?.hasError('min') && (formRoupa.controls['preco']?.dirty || formRoupa.controls['preco']?.touched)">
              O preço deve ser maior que 0.
            </div>
          </div>
        </div>
        <div class="form-group my-4">
          <label for="prazo" class="visually-hidden">Prazo:</label>
          <input type="number" class="form-control" id="prazo" name="prazo" [(ngModel)]="roupa.prazo" #prazo="ngModel" required min="1" placeholder="Prazo (dias úteis)">
          <div class="alert alert-danger mt-2" *ngIf="formRoupa.controls['prazo']?.hasError('required') && (formRoupa.controls['prazo']?.dirty || formRoupa.controls['prazo']?.touched)">
            O prazo é obrigatório.
          </div>
          <div *ngIf="formRoupa.controls['prazo']?.hasError('min') && (formRoupa.controls['prazo']?.dirty || formRoupa.controls['prazo']?.touched)">
            O prazo deve ser maior que 0.
          </div>
        </div>
      </div>
      <div class="form-group my-2 hstack gap-3 justify-content-md-end">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
        </button>
        <button class="btn btn-primary" (click)="salvarRoupa()">
          <i class="fa fa-save" aria-hidden="true"></i> Salvar
        </button>
      </div>
    </form>
  </div>
</div>