<div class="modal-header">
  <h4 class="modal-title" id="modalLabel"> Confirmação </h4>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"
  (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body text-center">
  <div *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'">
    <h4 class="text-start"> Resumo do pedido </h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-start">Descrição</th>
            <th class="text-end">Prazo</th>
            <th class="text-end">Preço</th>
            <th class="text-end">Qtde</th>
            <th class="text-end">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roupa of pedido.roupas" class="text-start">
            <td>{{roupa.descricao}}</td>
            <td class="align-middle text-end">{{roupa.prazo}} dias</td>
            <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.preco | pipeReal}}</td>
            <td class="align-middle text-end">{{roupa.quantidade}}</td>
            <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.quantidade * roupa.preco! | pipeReal}}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-end fw-bold">Data prevista:</td>
            <td class="text-end fw-bold">{{pedido.data_prevista | date:'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-end fw-bold">Total do pedido:</td>
            <td class="text-end fw-bold">{{pedido.valor | pipeReal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h5 *ngIf="pedido.status == 'EM ABERTO'">Tem certeza que deseja cancelar o pedido #{{pedido.id}}?</h5>
    <h5 *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'">Tem certeza que deseja pagar o pedido #{{pedido.id}}?</h5>
  </div>

<div class="modal-foot text-center">
  <div>
    <button type="button" style="margin-right: 100px;" class="btn btn-outline-danger btn-block btn-lg" (click)="activeModal.close()"> Não </button>
    <button *ngIf="pedido.status == 'EM ABERTO'" type="button" class="btn btn-outline-success btn-block btn-lg"  (click)="cancelarPedido(pedido)"> Sim </button>
    <button *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'" type="button" class="btn btn-outline-success btn-block btn-lg" (click)="pagarPedido(pedido)"> Sim </button>
  </div>
</div>