<div class="modal-header">
  <h4 class="modal-title" id="modalLabel"> Confirmação </h4>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"
  (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body text-center">
  <div *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'">
    <h4 class="text-start"> Resumo do pedido </h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-start">Descrição</th>
            <th>Prazo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let roupa of pedido.roupas" class="text-start">
            <td>{{roupa.descricao}}</td>
            <td class="text-center">{{roupa.prazo}}</td>
            <td>{{roupa.preco}}</td>
            <td class="text-center">{{roupa.quantidade}}</td>
            <td>{{roupa.quantidade * roupa.preco}}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-end fw-bold">Data prevista:</td>
            <td class="fw-bold">{{pedido.data_prevista}}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-end fw-bold">Total do pedido:</td>
            <td class="fw-bold">{{pedido.valor}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <h5 *ngIf="pedido.status == 'EM ABERTO'">Tem certeza que deseja cancelar o pedido #{{pedido.id}}?</h5>
    <h5 *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'">Tem certeza que deseja pagar o pedido #{{pedido.id}}?</h5>
  </div>

<div class="modal-foot text-center">
  <div>
    <button type="button" style="margin-right: 100px;" class="btn btn-outline-danger btn-block btn-lg" (click)="activeModal.close()"> Não </button>
    <button *ngIf="pedido.status == 'EM ABERTO'" type="button" class="btn btn-outline-success btn-block btn-lg"  (click)="cancelarPedido(pedido)"> Sim </button>
    <button *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'" type="button" class="btn btn-outline-success btn-block btn-lg" (click)="pagarPedido(pedido)"> Sim </button>
  </div>
</div>