<body style="background-color: rgb(218, 235, 236);">
  <section class="d-flex">
    <div class="container py-5 h-100 mb-2">
      <div class="card card-registration card-registration-2 p-3 mb-3" style="border-radius: 15px;">
        <div class="row g-0">
          <div class="row">
            <div class="col-12 mb-0">
              <div class="card-title p-2 vstack gap-3 d-inline-block">
                <div class="border border-dark-subtle border-3 rounded-pill d-inline-block px-4 py-2" style="background-color: gray;">
                  <h3 class="p-2 fw-bold mb-0 text-light">Pedidos em Aberto: {{pedidos.length}}</h3>
                </div>
              </div>
              <table *ngIf="pedidos" class="table table-hover" style="border-radius: 15px;">
                <thead>
                  <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Valor</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pedido of pedidosOrdenados; index as i;">
                    <th scope="row">#{{pedido.id}}</th>
                    <td class="text-warning">{{pedido.status}}</td>
                    <td>{{pedido.data | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td class="text-end">R${{pedido.valor}}</td>
                    <td *ngIf="pedido.status == 'EM ABERTO'"><a class="btn btn-outline-primary" (click)="abrirModal(pedido)" role="button">Registrar Recolhimento</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>