<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:#0A57A2">FORMULA CLEAN</a>
    <ul *ngIf="usuario?.perfil?.includes('CLIENTE') " class="nav hstack gap-4">
      <li class="nav-item">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
    </ul>
    <div *ngIf="usuario?.perfil?.includes('CLIENTE')" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Olá, {{usuario?.nome}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a *ngIf="!isCurrentRoute('/cliente/home')" class="nav-link" (click)="goHome()">Pedidos em Aberto</a>
            <a *ngIf="isCurrentRoute('/cliente/home')" class="nav-link active" aria-current="page" (click)="goHome()">Pedidos em Aberto</a>
            <a *ngIf="!isCurrentRoute('/cliente/pedidos')"class="nav-link" (click)="goPedidos()">Todos os Pedidos</a>
            <a *ngIf="isCurrentRoute('/cliente/pedidos')"class="nav-link active" aria-current="page" (click)="goPedidos()">Todos os Pedidos</a>
            <a *ngIf="!isCurrentRoute('/cliente/consulta')"class="nav-link" (click)="goConsulta()">Consultar Pedido</a>
            <a *ngIf="isCurrentRoute('/cliente/consulta')"class="nav-link" aria-current="page" (click)="goConsulta()">Consultar Pedido</a>
            <a *ngIf="!isCurrentRoute('/cliente/novo')"class="nav-link" (click)="goNovo()">Novo Pedido</a>
            <a *ngIf="isCurrentRoute('/cliente/novo')"class="nav-link active" aria-current="page" (click)="goNovo()">Novo Pedido</a>
            <a class="nav-link" (click)="logout()">Sair</a>
          </li>
        </ul>
      </div>
    </div>
    <!---->
    <ul *ngIf="usuario?.perfil?.includes('FUNC')" class="nav hstack gap-4">
      <li class="nav-item">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </li>
    </ul>
    <div *ngIf="usuario?.perfil?.includes('FUNC')" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasNavbarLabel">Olá, {{usuario?.nome}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a *ngIf="!isCurrentRoute('/funcionario/home')" class="nav-link" (click)="goHomeFunc()">Pedidos em Aberto</a>
            <a *ngIf="isCurrentRoute('/funcionario/home')" class="nav-link active" aria-current="page" (click)="goHomeFunc()">Pedidos em Aberto</a>
            <a *ngIf="!isCurrentRoute('/funcionario/listagem')"class="nav-link" (click)="goListagem()">Listagem de Pedidos</a>
            <a *ngIf="isCurrentRoute('/funcionario/listagem')"class="nav-link active" aria-current="page" (click)="goListagem()">Listagem de Pedidos</a>
            <a *ngIf="!isCurrentRoute('/funcionario/roupas')"class="nav-link" (click)="goRoupas()">Cadastro de Roupas</a>
            <a *ngIf="isCurrentRoute('/funcionario/roupas')"class="nav-link active" aria-current="page" (click)="goRoupas()">Cadastro de Roupas</a>
            <a *ngIf="!isCurrentRoute('/funcionario/manutencao')"class="nav-link" (click)="goManutencao()">Cadastro de Funcionários</a>
            <a *ngIf="isCurrentRoute('/funcionario/manutencao')"class="nav-link active" aria-current="page" (click)="goManutencao()">Cadastro de Funcionários</a>
            <a *ngIf="!isCurrentRoute('/funcionario/relatorios')"class="nav-link" (click)="goRelatorios()">Relatórios</a>
            <a *ngIf="isCurrentRoute('/funcionario/relatorios')"class="nav-link active" aria-current="page" (click)="goRelatorios()">Relatórios</a>
            <a class="nav-link" (click)="logout()">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>  