<div class="modal-header">
  <h4 class="modal-title" id="modalLabel"> Orçamento do pedido </h4>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"
  (click)="activeModal.dismiss()">
  </button>
</div>
<div class="modal-body text-center">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="text-start">Descrição</th>
          <th class="text-end">Prazo</th>
          <th class="text-end">Preço</th>
          <th class="text-end">Qtde</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roupa of roupas" class="text-start">
          <td>{{roupa.descricao}}</td>
          <td class="align-middle text-end">{{roupa.prazo}} dias</td>
          <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.preco | pipeReal}}</td>
          <td class="align-middle text-end">{{roupa.quantidade}}</td>
          <td class="align-middle text-end" style="white-space: nowrap;">{{roupa.quantidade * roupa.preco! | pipeReal}}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end fw-bold">Data prevista:</td>
          <td class="text-end fw-bold">{{pedido.dtEntregaPrevista | date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end fw-bold">Total do pedido:</td>
          <td class="text-end fw-bold" style="white-space: nowrap;">{{pedido.valor | pipeReal}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 20px; display: flex; justify-content: space-between;">
    <button type="button" class="btn btn-outline-danger btn-block btn-lg fs-5" (click)="rejeitarOrcamento(pedido)"> Rejeitar </button>
    <button type="button" class="btn btn-outline-success btn-block btn-lg fs-5"  (click)="aprovarOrcamento(pedido)"> Confirmar </button>
  </div>
  </div>