<div class="container">
  <div class="row-cols-12 hstack gap-2">
      <div class="col-4 text-center">
        <img src="/assets/logoTransparente.png" alt="Logo" class="img-fluid w-60">
      </div>
      <div class="col-md-5 col-sm-2 mt-4">
          <h4 class="text-primary text-center mt-4 mb-2">Sistema de Lavanderia On-Line</h4>
          <div class="card mb-2 mt-4">
              <div class="card-header">
                  <h4 class="text-center">Login</h4>
              </div>
              <div class="card-body">
                  <form #formLogin="ngForm" (keyup.enter)="logar()">
                      <div class="mb-3 form-group">
                          <label for="username" class="form-label">Usuário: </label>
                          <input type="text" class="form-control" id="usuario" name="usuario"
                                 [(ngModel)]="login.login" #usuario="ngModel" required>
                          <div *ngIf="usuario.errors && (usuario.dirty || usuario.touched)" class="alert alert-danger">
                            <div [hidden]="!usuario.errors['required']">Digite o usuário</div>
                          </div>
                      </div>
                      <div class="mb-3 form-group">
                          <label for="password" class="form-label">Senha: </label>
                          <input [type]="passwordVisible? 'text' : 'password'" class="form-control" id="senha" name="senha" 
                                 [(ngModel)]="login.senha" #senha="ngModel" required>
                          <div class="input-group-append">
                              <span class="container" id="mostrarSenhaBtn" (click)="togglePassword()">
                                  <i id="olho" [className]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                              </span>
                          </div>
                          <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger">
                            <div [hidden]="!senha.errors['required']">Digite a senha</div>
                          </div>
                      </div>
                      <button type="button" class="btn btn-primary w-100"
                              (click)="logar()"  [disabled]="!formLogin.form.valid">
                              Entrar
                      </button>
                      <p id="mensagemErro" class="text-danger mt-3">{{ message }}</p>
                  </form>
                  <div class="row mt-3">
                      <div class="col d-flex justify-content-center">
                          <a [routerLink]="['/autocadastro']">Cadastrar-se</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center text-center mt-1">
              <p class="text-secondary" style="font-size: 14px;">Formula Clean &copy; 2023</p>
          </div>
      </div>
  </div>
</div>
